body {

    background-color: rgb(34, 34, 34);
}

h1 {

    color: white;
    text-align: center;
}


form {

color: white;
text-align: center;

}

.wrapper {

width: 400px;
max-width: 90%;
margin: auto;


}

.wrapper label {

    display: block;
    margin: 0.5em 0;


}


.wrapper label input {

    font-size: 18px;
    
    padding: 0.5px;
}

.wrapper label input {

    font-size:100;
}

.wrapper input[type="submit"] {

font-size: 18px;
color: red;

}